body {
	overflow-x: hidden;
}

.font-size-sm {
	font-size: 1rem;
}

.font-size-1-2 {
	font-size: 1.2rem;
}

.font-size-md {
	font-size: 1.5rem;
}

.font-size-2x {
	font-size: 2rem;
}

.font-size-lg {
	font-size: 3rem;
}

.buy:hover {
	transform: translateY(-5px);
	background-color: #1746e0 !important;
	box-shadow: 1rem 1rem 1rem -.75rem rgba(22,28,45,.1), -1rem 1rem 1rem -.75rem rgba(22,28,45,.1)
}

.buy {
	transition: 350ms;
	background-color: #335eea !important;
}

.nav-link:hover, .nav-link:focus, .t-content-landings, .content-landings:hover {
	color: blue !important;
}

#landings {
	position: relative;
	transition: 300ms;
}

#landings-collapse {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 180%;
	left: -255%;
	height: 300px;
	width: 600px;
	transition: 400ms;
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
	z-index: 1;
}

#landings:hover #landings-collapse {
	visibility: visible;
	opacity: 1;
	top: 120%;
}

.background {
	background-size: cover;
	left: 15px;
	background-image: url(./asset/cat.jpg);
	height: 300px;
}

.overlay {
	height: 100%;
	opacity: 0.8;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.content-landings {
	list-style: none;
	color: black;
	margin-left: -2.5rem !important;
	padding-top: 0.3rem !important;
}

.href {
	color: gray;
	text-decoration: none;
}

.href:hover {
	text-decoration: none
}

.landings-2 {
	position: relative;
}

#landings-collapse-2 {
	position: absolute;
	top: 180%;
	left: -100%;
	visibility: hidden;
	opacity: 0;
	transition: 400ms;
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
	z-index: 1;
}

.landings-2:hover #landings-collapse-2 {
	visibility: visible;
	opacity: 1;
	top: 120%;
}

#landings-3 {
	position: relative;
}

#landings-3:hover #landings-collapse-3 {
	visibility: visible;
	opacity: 1;
	top: 120%;
}

#landings-collapse-3 {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	transition: 400ms;
	top: 180%;
	left: -50%;
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
	z-index: 1;
}

.doc {
	color: gray;
}

 #landings-collapse-3 a:hover {
	text-decoration: none;
}

.btn-blue {
	background-color: #335eea;
	padding: 15px !important;
}

.btn-lightblue {
	background-color: rgba(51,94,234,.1);
}

.illustration-2 {
	background-image: url(./assets/illustration-2.png);
	background-size: cover;
}

.welcome {
	z-index: 0;
}

.bg-gradient-light {
	background-image: linear-gradient(180deg,#f9fbfd 0,#fff);
}

.card-about {
	box-shadow: 0 1.5rem 4rem rgba(22,28,45,.1)!important;
	transition: 0.7s;
}

.card-about:hover {
	transform: translateY(-0.35rem);
	box-shadow: 0 2rem 5rem rgba(22,28,45,.15),0 .5rem 1rem -.75rem rgba(22,28,45,.15)!important;
}

.form-flush {
	border: none;
	border-bottom: solid 1px #ddd;
	border-radius: 0px; 
}

.form-flush:focus {
  box-shadow: none;
  outline: 0;
}

.btn-success {
	background-color: #42ba96;
	border: none;
}

.btn-success:hover {
	background-color: #389e7f;
}

.btn-success:active {
	background-color: #359478 !important;
	outline: 0;
	box-shadow: none;
	border-color: transparent !important;
}

.text-success {
	color: #42ba96 !important;
}

.animation {
	animation-iteration-count: infinite;
	animation-duration: 6s;
	position: absolute;
}

#animation-1 {
	animation-name: myAnimation-1;
}

#animation-2 {
	animation-name: myAnimation-2;
}

#animation-3 {
	animation-name: myAnimation-3;
}

@keyframes myAnimation-1 {
	0%, 33%, 100% {opacity: 0;}
	16.67%			 {opacity: 1;}
}

@keyframes myAnimation-2 {
	0%, 33%, 66%, 100% {opacity: 0;}
	49.67%			 {opacity: 1;}
}

@keyframes myAnimation-3 {
	0%, 66%, 100% {opacity: 0;}
	82.67%			 {opacity: 1;}
}

.shewed {
	perspective:1500px;
	perspective-origin: 0;
}

.dashkit {
	object-fit: contain;
	width: 120%;
	border-radius: 0.625rem;
	transform: rotateY(-40deg) rotateX(30deg) rotateZ(-3deg);
	backface-visibility: hidden;
	box-shadow: 25px 60px 125px -25px rgba(80,102,144,.5), 50px 70px 75px -40px rgba(0,0,0,.2);
}